{% extends 'Paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<h3>Lista de Agendas</h3>
<a href="{% url 'agenda-cadastrar' %}" class="btn btn-primary btn-sm">Adicionar Agenda</a>
<hr>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th>Turma</th>
      <th>Matricula</th>
      <th>Data</th>
    </tr>
    {% for agenda in object_list %}
    <tr>
      <td>
        {{ agenda.Turma }}
      </td>
      <td>
        {{ agenda.Matricula }}
      </td>
      <td>
        {{ agenda.Data }}
      </td>
      <td>
        <a href="{% url 'agenda-editar' agenda.pk %}" class="btn btn-warning btn-sm" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a href="{% url 'agenda-excluir' agenda.pk %}" class="btn btn-danger btn-sm" title="Excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">
        Nenhuma agenda cadastrada
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
