{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<h3>Lista de Pessoas</h3>
<a href="{% url 'pessoa-cadastrar' %}" class="btn btn-primary btn-sm">Adicionar Pessoa</a>
<hr>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th>Nome</th>
      <th>Apelido</th>
      <th>Nascimento</th>
      <th>CPF</th>
      <th>RG</th>
      <th>E-Mail</th>
      <th>Senha</th>
      <th>Opções</th>
    </tr>
    {% for pessoa in object_list %}
    <tr>
      <td>
        {{ pessoa.Nome }}
      </td>
      <td>
        {{ pessoa.Apelido }}
      </td>
      <td>
        {{ Pessoa.DataNascimento }}
      </td>
      <td>
        {{ Pessoa.CPF }}
      </td>
      <td>
        {{ Pessoa.RG }}
      </td>
      <td>
        {{ Pessoa.EMail }}
      </td>
      <td>
        {{ Pessoa.Senha }}
      </td>
      <td>
        <a href="{% url 'pessoa-editar' pessoa.pk %}" class="btn btn-warning btn-sm" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a href="{% url 'pessoa-excluir' pessoa.pk %}" class="btn btn-danger btn-sm" title="Excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">
        Nenhuma pessoa cadastrada
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}